// Import page-specific CSS files here.
@import "home";
.card {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  object-fit: cover;
}

.custom-submit-button {
  background-color: #E9A328;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #FA7561;
}
