// Import page-specific CSS files here.
@import "home";
.card {
  overflow: hidden;
  position: relative;
}

#index-card {
  height: 650px;
  padding: 8px;
}

.card-img-top {
  object-fit: cover;
}

.custom-submit-button {
  background-color: #FA7561;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-submit-button:hover {
  background-color: white;
  color: #FA7561;
  border: 1px solid #FA7561;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #FA7561;
}

#my-photo {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

#image-index {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#image-book-index {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bouton {
  background-color: #FA7561;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
}

.division {
  display: flex;
  justify-content: space-between;
}

#instrument-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
