.navbar-lewagon {
  justify-content: space-between;
  background: #F5EDCC;
  color: black;
  font-size: large;
  font-weight: 500;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  border-radius: 50%;
  border: solid black
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e88300;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #fbb862;
  color: white;
}
a.nav-link {
  border-radius: 6px;
  border : 1px solid #D7B633;
  background-color:#FFC65A ;
  margin: 4px;
}

a.nav-link:hover {
  border-radius: 6px;
  border : 1px solid #fce278;
  background-color:#EBDA99 ;
  margin: 4px;
}
