.navbar-lewagon {
  justify-content: space-between;
  background: #F5EDCC;
  color: black;
  font-size: large;
  font-weight: 500;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e88300;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #e88300;
  color: white;
}
a.nav-link {
  border-radius: 4px;
  border : 2px solid #D7B633;
  background-color:#EBDA99 ;
  margin: 4px;
}
