<h1>index of all the instruments</h1>
<% @instruments.each do |instrument| %>
  <ul>
  <li><%= instrument.name %></li>
  <li><%= instrument.description %></li>
  <li><%= instrument.price %> </li>
  </ul>
<% end %>

