<h1>My bookings</h1>

<ul>
  <% @my_bookings.each do |booking| %>
    <li>
      Start Date: <%= booking.start_date %><br>
      End Date: <%= booking.end_date %>
      Total Price: <%= booking.total_price %>
      Status: <%= booking.status %>
    </li>
  <% end %>
</ul>
