<h1>My Listed Instruments</h1>

<% if @instruments.any? %>
  <ul>
    <% @instruments.each do |instrument| %>
    <table class="table">
  <tr>
    <th>Name</th>
    <td><%= link_to instrument.title, instrument_path(instrument) %></td>
  </tr>
  </table>
    <div class="d-flex mx-2">
      <li><%= link_to instrument.title, instrument_path(instrument) %></li>
      <%= link_to "Edit", edit_instrument_path(instrument) %>
    </div>
    <% end %>
  </ul>
<% else %>
  <p>No instruments listed yet.</p>
<% end %>
<%= link_to 'Back', instruments_path %>
